body {
    background-color: rgb(222, 191, 124);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 30px;
}

#left {
    margin-left: 100px;
    padding-right: 30px;
}

#right {
    margin-right: 100px;
}


tr {
    font-size: 18px;
    border-bottom: "1px solid #000";
}

#user-results, #results-symbol {
    float: left;
    margin-top: 20px;
    margin-right: 400px;
}

table {
    float: left;
    margin-right: 150px;
    margin-bottom: 20px;
}


